.image-container{
    width: 100%;
    
}

.image-image{
    object-fit: cover;
    white-space: nowrap;
}

@media screen and (max-width: 595px) {
    .image-image{
        width: 1280px;
        height: 720px;
        position: absolute;
        top: 3.5rem;
    }
}