.clicked-screen{
    position: fixed;
	width: 50px;
	height: 50px;
	border: 3px dotted #4C63B6;
    background-color: #19216ca8;
    z-index: 1;
    transform: translate(-50%,-50%);
    border-radius: 5rem;
}

.list-characters{
    position: fixed;
    width: 100px;
    right: -236%;
    top: 15px;
    background-color: #F0F4F8;
    border: 2px solid #9FB3C8;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    padding: 0.2rem;
    animation-name: opacityAppear;
    animation-iteration-count: 1;
    animation-duration: .5s;
}

.character-click{
    text-align: center;
    cursor: pointer;
    transition: background-color .2s ease-in;
}

.character-click:hover{
    background-color: #BCCCDC;
}

@keyframes opacityAppear {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}